//mixins

@mixin grid{
  display: grid
}

@mixin flex-column{
  display: flex;
  flex-direction: column;
}
//sass variables

$primary-font: "Hand TypeWriter";
$footer-font: Helvetica, sans-serif;
$footer-color: #f5f5f5;
$footer-font-color: #92a1a1;




*{
  margin: 0;
  padding: 0;
}


.main-content-grid{
  @include grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 50px 0 0 0;
  justify-items: center;
}

.home-page-header{
  grid-column-start: 2;
  grid-row-start: 1;
  font-family: $primary-font;
  text-align: center;
  font-size: 1.8vw;
  .header-sub-text{
    font-weight: lighter;
    margin-top: 2%;
  }
}

.home-page-links{
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  justify-content: space-around;
  margin: 0 0 40px 0;
  font-family: $primary-font;
  font-size: 1vw;
    a{
      color: black;
    }
}

.home-page-body{
  margin: 50px 0 0 0;
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: center;
  // overflow: hidden;
  img{
    flex-shrink: 0;
    display: flex;
    width: 100%;
  }
}

.home-page-footer{
  width: 100%;
  grid-column: 1 / span 3;
  grid-row-end: end;
  background-color: $footer-color;
  color: $footer-font-color;
  font-family: $footer-font;
  padding: 15px 0 15px 0;
}

.home-page-footer-grid{
  @include grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.left-footer-column{
  @include flex-column;
  line-height: 2;
}

.middle-footer-column{
  @include flex-column;
  line-height: 2;
}

.right-footer-column{
  display: flex;
  align-items: center;
}

.social-icon{
  margin: 5px;
  height: 25px;
  width: 25px;
}

.tablet-view-center-images{
  display: none;
}


@media only screen and (max-width: 900px){
  .home-page-center-image{
    display: none;
  }
  .tablet-view-center-images{
    display: block;
  }
  .home-page-links{
    font-size: 2vw;
  }
  .home-page-body{
    align-self: flex-start;
    margin-top: 50px;
  }
}
