//mixins

@mixin grid{
  display: grid
}

@mixin flex-column{
  display: flex;
  flex-direction: column;
}
//sass variables

$primary-font: "Hand TypeWriter";




*{
  margin: 0;
  padding: 0;
}


.main-content-grid{
  @include grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: auto;
  height: 100vh;
  justify-items: center;
}

.home-page-header{
  grid-column-start: 2;
  grid-row-start: 1;
  font-family: $primary-font;
  text-align: center;
  font-size: 1.8vw;
  .header-sub-text{
    font-weight: lighter;
    margin-top: 2%;
  }
}

.home-page-menu-icon{
  grid-column-start: 1;
  grid-row-start: 1;
}

.home-page-body{

  grid-column-start: 2;
  grid-row-start: 2;
  overflow: hidden;
}

.home-page-footer{
  height: 200px;
  width: 100%;
  margin-top: 10%;
  grid-column: 1 / span 3;
  grid-row-start: 4;
  background-color: lightgray;
}

.home-page-footer-grid{
  @include grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.left-footer-column{
  @include flex-column;
}

.middle-footer-column{
  @include flex-column;
}

.right-footer-column{
  @include flex-column;
}
